:root{
    --primary-color: #C9E3FF;

    --forum-background-color: #add5ff;
}




body {
    font-family: 'Poppins', sans-serif;
}

.right-links{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-left:  auto;
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.navbar-nav > li > a {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.navbar{
    padding: 0%;
    margin-bottom: 3%;
}

.container-fluid{
    background-color: var(--primary-color);
    padding: 0%;
}




.sign-up-img-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 80vh;

}

.sign-up-img-form > *{
    margin: 5%;
}

#signup-image {
    height: 40%;
    transform: rotate(-22deg);
}

.sign-form{


    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 50%;
    height: 50%; */
    padding: 20px;

    border-radius: 10px;
}

.greeting{
    position: absolute;
    left: 30%;
    top: 15%;
}

.nav-heading{
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
}

.default-button{
    background-color: var(--primary-color);
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#profile-form, #submit-event-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.submit-event-field{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}

#profile-heading, #submit-event-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translate(-50%, -50%); */
}

.profile-field, .success-message{
    display: flex;
    justify-content: center;
}

.success-message, .error-message{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.success-message{
    color: green;
}

.error-message{
    color: red;
}

.profile-field-input{
    margin-left: 20px;
}



#profile-button, #submit-event-button{
    position: relative;
    margin-top: 5%;
    width: 50%;
    left: 25%;
}


.event-header{
    display: flex;
    justify-content: space-between;
}



.event-buttons{
    display: flex;
}

.event-buttons > *{
    margin: 0 5%;
}



.event-list{
    display: flex;
}

.event-list-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 80%;
    grid-gap: 20px;
    padding: 20px;
}

.event-content{
    display: flex;
    flex-direction: column;
    padding: 10%;
    width: auto;
}


.event-tile{
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 2px solid black;
    border-radius: 6px;
    width: fit-content;
    margin: 2%;
    background-color: var(--primary-color);
    /* padding: 2% */
}

.event-title{
    margin: 0;
    margin-left: 2%;
    /* padding: 5%; */
}

.event-line {
    width: 100%;
    height: 0;
    border: 1px solid #000000;
    display:inline-block;
    padding: 0%;
}

.vertical-line {
   
      max-width: 1px; /* Line width */
      background-color: black; /* Line color */
      height: 100%; /* Override in-line if you want specific height. */

     
    
}



.event-img{
    width: 75%;
    height: 50%;
    align-self: center;
}

.heading-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


#profile-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

}

.games-list-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 80%;
    grid-gap: 20px;
    padding: 20px;
}

.game-tile{
    display: flex;
    flex-direction: column;
    list-style: none;
    /* border: 2px solid black; */
    border-radius: 6px;
    width: fit-content;
    margin: 2%;
}
.game-tile:hover{
  cursor: pointer
}

.game-info{
    position: fixed;
    border: 2px solid black;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 65%;
    height: 65%;
    margin: 2%;
    padding: 5px;
    background-color: var(--primary-color);
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:auto;
}

.game-blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto 1em;
    box-shadow: 0px 0px 15px 0px;
    overflow: hidden;
}



.forum, .thread{
    display: flex;
    width: 90vw;
    height: 5vh;
    border: 2px solid black;
}

.forum-button, .thread-button{
    border-style: none;
    background-color: var(--forum-background-color);
}

.comment-icon{
    height: 100%;
    max-width: 4vw;
    object-fit: contain;
    background-color: var(--forum-background-color);
}

.forum-line{
    /* margin-right: .5vw; */
    
}

.forum > *, .thread > *{
    width: 100%;
}


.forum-table {
    width: 100%;
    border-collapse: collapse;
    /* margin: 20px 0; */
    font-size: 18px;
    text-align: left;
  }
  
  .forum-table th, .forum-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;

  }

  .forum-title-cell, .forum-title-head{
    width: 50%;
  }

  .forum-op-cell, .forum-op-head{
    width: 30%;
  }

  .forum-icon-cell, .forum-icon-head{
    width: 20%;
  }

  .forum-icon-cell {
    text-align: center;
  }
  
  .forum-table th {
    background-color: #f4f4f4;
  }
  
  .forum-row:hover {
    background-color: #f1f1f1;
  }
  
  
  
  .forum-title-cell {
    width: auto;
  }
  
  .forum-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 18px;
    text-align: left;
  }
  
  .forum-button:hover {
    text-decoration: underline;
  }
  
  .comment-icon {
    font-size: 24px;
    color: #007bff;
  }



  .reload-button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: 16px;
    color: #007bff;
    transition: color 0.3s ease;
  }
  
  .reload-button:hover {
    color: #0056b3;
  }
  
  .reload-button i {
    margin-left: 5px;
  }

  .forum-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .event-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .participant-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-width: 80%;
    grid-gap: 20px;
    padding: 20px;
  }

  .event-participant{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    padding: 1rem;
  }

  /* .event-participant > *{
    padding: 1rem;
  } */

  .participant-image{
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the entire area */
  }
