:root{
    --primary-color: #C9E3FF;
}




body {
    font-family: 'Poppins', sans-serif;
}

.right-links{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-left:  auto;
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.navbar-nav > li > a {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.navbar{
    padding: 0%;
    margin-bottom: 3%;
}

.container-fluid{
    background-color: var(--primary-color);
    padding: 0%;
}




.sign-up-img-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 80vh;

}

.sign-up-img-form > *{
    margin: 5%;
}

#signup-image {
    height: 40%;
    transform: rotate(-22deg);
}

.sign-form{
    

    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 50%;
    height: 50%; */
    padding: 20px;

    border-radius: 10px;
}

.greeting{
    position: absolute;
    left: 30%;
    top: 15%;
}

.nav-heading{
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
}

.default-button{
    background-color: var(--primary-color);
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#profile-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#profile-heading{
    position: absolute;
    left: 43%;
    top: 15%;
    /* transform: translate(-50%, -50%); */
}

.profile-field{
    display: flex;
    justify-content: center;
    
}

.profile-field-input{
    margin-left: 20px;
}



#profile-button{
    position: relative;
    margin-top: 5%;
    width: 50%;
    left: 25%;
}


.event-header{
    display: flex;
    justify-content: space-between;
}



.event-buttons{
    display: flex;
}

.event-buttons > *{
    margin: 0 5%;
}



.event-list{
    display: flex;
}

.event-list-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 80%;
    grid-gap: 20px;
    padding: 20px;
}

.event-content{
    display: flex;
    flex-direction: column;
    padding: 10%;
    width: auto;
}


.event-tile{
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 2px solid black;
    border-radius: 6px;
    width: fit-content;
    margin: 2%;
    background-color: var(--primary-color);
    /* padding: 2% */
}

.event-title{
    margin: 0;
    margin-left: 2%;
    /* padding: 5%; */
}

.event-line {
    width: 100%;
    height: 0;
    border: 1px solid #000000;
    display:inline-block;
    padding: 0%;
}

.event-img{
    width: 75%;
    height: 50%;
    align-self: center;
}

.heading-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


#profile-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    
}

.games-list-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 80%;
    grid-gap: 20px;
    padding: 20px;
}

.game-tile{
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 2px solid black;
    border-radius: 6px;
    width: fit-content;
    margin: 2%;
    background-color: var(--primary-color);
}

.game-info{
    position: absolute;
    border: 2px solid black;
    border-radius: 6px;
    width: fit-content;
    margin: 2%;
    background-color: var(--primary-color);
}

.circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto 1em;
    box-shadow: 0px 0px 15px 0px;
    overflow: hidden;
  }

